<div class="jumbotron">
  <h1>Short Bio Generator</h1>
  <p class="lead">This generator requests OAuth through Facebook. Please click on the button below.</p>
  <p>
    <a class="btn btn-lg btn-success" href="<%= @facebook_url %>">Login through Facebook</a>
  </p>
</div>