<div class="main-container">
  <h1>Facebook Data Dashboard</h1>

  <a href="https://www.facebook.com/dialog/oauth?client_id=547986201993556&redirect_uri=<%= @root %>/callback"><div class="btn btn-primary">Login through Facebook</div></a>
</div>