<div class="jumbotron">
  <h1>
    Short Bio Generator
  </h1>
  <p class="lead">
    This generator requests OAuth through Facebook. Please click on the button below.
  </p>
  <p>
    <a href="<%= @facebook_url %>" id="facebook-login" class="btn btn-lg btn-success" >
      Login through Facebook
    </a>
  </p>
</div>