
<div class="jumbotron">

  <div class="contained">
    <h1>Generated Biography</h1>
  </div>

  <div class="pic-and-bio">
    <div class="pic"><img src="<%= @pic_url %>"></div>

    <div class="bio">
      <%= @bio %>
    </div>

    <div class="bio">
      <strong>Token:</strong> <%= @token %>
    </div>

  </div>

</div>