<div class="jumbotron">

  <div class="contained">
    <h1>Generated Biography</h1>
  </div>

  <div class="contained token">
    <strong>Token:</strong> <%= @data.token %>
  </div>

  <div class="pic-and-bio">
    <div class="pic"><img id="user-picture" src="<%= @data.pic_url %>"></div>
    <div class="bio">
      <%= @data.bio %>
    </div>
  </div>

</div>