<div class="jumbotron">

  <div class="contained">
    <h1>Generated Biography</h1>
  </div>
  
  <div class="pic-and-bio">
    <div class="pic"><img id="user-picture" src="<%= @data.pic_url %>"></div>
    <div class="bio">
      <%= @data.bio %>
    </div>
  </div>

</div>

<div class="contained">
  <a href="/" class="btn btn-lg btn-primary back">Back Home</a>
  <a href="/privacypolicy" class="btn btn-lg btn-info back">Privacy Policy</a>
</div>