.jumbotron {
  margin-top: 20px;
}

.contained {
  width: 100%;
  text-align: center;
}

.pic-and-bio {
  width: 100%;
  background-color: yellow;
  position: relative;
  text-align: center;
  vertical-align: middle;
  height: 100%;
}

.pic, .bio {
  padding: 20px;
  display: inline-block;
  background-color: #EEEEEE; 
  border-radius: 7px;
  vertical-align: middle;
  margin: 10px;
}


.bio {
  display: inline-block;
  max-width: 500px;
  background-color: blue;
  text-align: left;
}

.pic {
  display: inline-block;
  background-color: red;
}

img {
  top:0;
  bottom:0;
  margin:auto;
}