.jumbotron {
  margin-top: 30px;
}

.contained {
  width: 100%;
  text-align: center;
}

.pic-and-bio {
  width: 100%;
  text-align: center; 
}

.pic, .bio {
  display: inline-block;
  vertical-align: middle;
  margin: 10px;
}

.bio {
  padding-left: 10px;
  font-size: 1.5em;
  max-width: 886px;
  text-align: left;
  border-left-style: solid;
  border-width: 1px;
}

.token {
  font-size: 0.5em;
}